<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Smartphone</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function addNewSmartPhone() {
            let producer = $('#producer').val();
            let model = $('#model').val();
            let price = $('#price').val();
            let newSmartphone = {
                producer: producer,
                model: model,
                price: price
            };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newSmartphone),
                url: "/smartphones",
                success: successHandler
            });
            event.preventDefault();
        }

        function getSmartphone(smartphone) {
            return `<tr><td >${smartphone.producer}</td><td >${smartphone.model}</td><td >${smartphone.price}</td>` +
                `<td><a href="${smartphone.id}" onclick="deleteSmartphone(this)"> xoa </a></td></tr>`;
        }

        function successHandler() {
            $.ajax({
                type: "Get",
                url: "/smartphones",
                success: function (data) {
                    let content = '   <tr>\n' +
                        '        <td>Producer</td>\n' +
                        '        <td>Model</td>\n' +
                        '        <td>Price</td>\n' +
                        '        <td>Delete</td>\n' +
                        '    </tr>'
                    for (let i = 0; i < data.length; i++) {
                        content += getSmartphone(data[i]);
                    }
                    document.getElementById('smartphoneList').innerHTML = content;
                }
            });
        }

        function deleteSmartphone(kax) {
            let id = kax.getAttribute("href");
            $.ajax({
                type: "DELETE",
                url: "/smartphones/" + id,
                success :successHandler
            });
            event.preventDefault();
        }
    </script>
</head>
<body>
<form id="add-smartphone">
    <table>
        <tr>
            <td>Producer :</td>
            <td>
                <input type="text" id="producer" placeholder="producer">
            </td>
        </tr>
        <tr>
            <td>model :</td>
            <td>
                <input type="text" id="model" placeholder="model">
            </td>
        </tr>
        <tr>
            <td>price :</td>
            <td>
                <input type="text" id="price" placeholder="price">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add" onclick="addNewSmartPhone()">
            </td>
        </tr>
    </table>
</form>
<h1>Smart Phone list </h1>
<table id="smartphoneList" border=" 1px solid black">
    <tr>
        <td>Producer</td>
        <td>Model</td>
        <td>Price</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="smartphone: ${smartphones}">
        <tr>
            <td th:text="${smartphone.producer}"></td>
            <td th:text="${smartphone.model}"></td>
            <td th:text="${smartphone.price}"></td>
            <td>
                <a class="deleteClass" onclick="deleteSmartphone(this)" th:href="${smartphone.getId()}"> Xoa </a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>